.PhoneButton{
    border-style: outset;
    border-width: 4px;
    border-color: #b1abab;
    background-color: white;
    color: black;
    width: auto;
}

#BookAndPhone{
    transition: transform 1.5s ease-in;
    src: url(/Img/Book_Img1.png);
}

#StoryDev, #BackButton, #FavouriteStory1, #OnlineStory, #MushokuTenseiStory1, 
#MushokuTenseiStory2, #LightNovelImg, #WhatIsLN, #WebNovel1, #WebNovel2,
#StoryDev2, #WhatIsNovel1, #WhatIsNovel2, #FavouriteStory2, #ReMonsterStory1,
#ReMonsterStory2, #Salary, #MoneyEarned1, #MoneyEarned2{
    display: none;
}

body{
    background-color: midnightblue;
}

#Contents {
    margin: 0px 0px 0px 0px;
}

p, h2{
    text-align: center;
}

.container {
    display: grid;
}

.PhoneBookTable{
    display: grid;
    grid-template-columns: 15% 2.5% 30% 5% 30% 2.5% 15%;
    grid-template-rows: repeat(6, 16.6666666667%);
    width: auto;
    height: auto;
}

.ImageItem{
    grid-column: 1 / span 7;
    grid-row: 1 / span 6;
    justify-self: stretch;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.ButtonTop{
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
    justify-self: stretch;
    font-size: 1.5vw;
}

.ButtonSecondTop{
    grid-column: 5 / span 1;
    grid-row: 3 / span 1;
    justify-self: stretch;
    font-size: 1.5vw;
}

.ButtonSecondBottom{
    grid-column: 5 / span 1;
    grid-row: 4 / span 1;
    justify-self: stretch;
    font-size: 1.5vw;
}

.ButtonBottom{
    grid-column: 5 / span 1;
    grid-row: 5 / span 1;
    justify-self: center;
    font-size: 1.5vw;
}

.GridTitle{
    grid-column: 3 / span 1;
    grid-row: 3 / span 2;
    justify-self: stretch;
    align-content: center;
    font-size: 2vw;
}

.BookContent1{
    grid-column: 3 / span 1;
    grid-row: 2 / span 4;
    justify-self: stretch;
    font-size: 1.4vw;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.BookContent2{
    grid-column: 5 / span 1;
    grid-row: 2 / span 3;
    justify-self: stretch;
    font-size: 1.4vw;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

/* Break down grid to 1 column to become a normal webpage when screen width
   becomes too small*/
@media only screen and (max-width: 540px){
    body, .PhoneBookTable, .MainBody{
        min-height: 100vh;
    }

    body{
        background-color: #F0E1b2;
    }
    #BookAndPhone{
        transition: transform 1.5s ease-in;
        display: none;
    }
    
    .PhoneBookTable{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, auto);
        width: auto;
        height: auto;
    }
    
    .ImageItem{
        grid-column: 1 / span 7;
        grid-row: 1 / span 6;
        justify-self: stretch;
        object-fit: cover;
        width: 0%;
        max-height: 0%;
    }
    
    .ButtonTop{
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        justify-self: stretch;
        font-size: 3.5vw;
    }
    
    .ButtonSecondTop{
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        justify-self: stretch;
        font-size: 3.5vw;
    }
    
    .ButtonSecondBottom{
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
        justify-self: stretch;
        font-size: 3.5vw;
    }
    
    .ButtonBottom{
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
        justify-self: center;
        font-size: 3.5vw;
    }
    
    .GridTitle{
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        justify-self: stretch;
        align-content: center;
        font-size: 7.5vw;
    }
    
    .BookContent1{
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
        justify-self: stretch;
        font-size: 1.4vw;
        object-fit: cover;
        width: 100%;
        max-height: 100%;
    }
    
    .BookContent2{
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        justify-self: stretch;
        font-size: 1.4vw;
        object-fit: cover;
        width: 100%;
        max-height: 100%;
    }

    #Contents{
        font-size: 4vw;
    }
}

@media only screen and (max-width: 720px){

}
